//fonts
$font_0: theserifyotaw5_plain;
$font_1: serif;
$font_2: MyriadProLightSemiExtended;
$font_3: sans-serif;
$font_4: Arial;
$font_5: ​sans-serif;
$font_6: theserifyotaw3_light;
$font_7: ​sans-serif !important;
$font_8: Lucida Grande;
$font_9: Lucida Sans;
$font_10: PT Sans;
$font_11: ​sans-serif;
$font_12: MyriadProSemibold;